 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@400;500;700&display=swap');

*{
    margin:0;
    padding:0;
}
.operator{
    color: blue;
}
.operator:hover{
    background-color:aquamarine;
}
body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:center;
    background:linear-gradient(50deg,#0a0a0a,#3a443a);
     align-items: center;
}
.calculator{
    margin-top: 110px;
    border: 2px solid;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 3px 15px rgb(13, 86, 233);
}

input{
    width:320px;
    height:40px;
    background: transparent;
    border: 0;
    box-shadow: 1px 1px 1px;
    font-size: 20px;
    text-align: right;
    cursor:pointer;
    color: azure;
}
button{
    border:none;
    width:60px;
    height:60px;
    margin:5px;
    border-radius: 30px;
    font-size: 20px;
    background: transparent;
    box-shadow: 1px 1px 1px;
    color: aliceblue;
}
button:hover{
    background-color: aquamarine;
}
.equalbtn{
     background-color: cornflowerblue;
}
